/* .brief{
    width:90%;
    margin: 0%;
    padding: 0%;
    top: 0%;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    height: 100%;
   
}   */

.brief .left3{
    text-align: left;
    padding-left: 0rem;
    margin: 0.5rem;
    max-width: 700px;
}
.brief .right3{
    max-width: 450px;
    text-align: center;
    align-items: center;
    
}

.brief .right3 ul li{
   margin:5rem 0;
   text-align: left;
   font-size: large;
   list-style: disc;
   color: pink;
}

.brief .right3 h1{
   
    font-size: 3rem;
}
.brief .right3 h3{
    font-size: 2rem;
    padding: 6px 0;
    color: #fff;
}

.brief button{
    background-color: #000;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

  /* .left3-img{
    padding-top: 1rem;
  border-radius:"25px";
  text-align: center;

    
}

.left3 .img-container{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    align-items: left;
    
} */

.right3 h2{
    color: #fff;
    text-align: center;

}
 .top img{
   
    margin: 2rem 10%;
    border: 1px solid #333;
    border-radius:25%;
    
    align-items: left;
    max-width: 80%;
    height: 80%;

}


@media screen and (max-width:740px){
    /* .img-stack{
        display: none;
    
    } */
    .brief .right3 p{
        font-size: 1.2rem;
       
    }
    .brief .right3 h1{
        font-size: 3rem;
    }

}