label{
    /* color: #fff;
    font-size: 2rem;
    padding: 10rem; */
    width: 80%;
    padding: 8px 8px;
    margin: 8px 0;
    text-align: left;
    display: inline-block;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    /* box-sizing: border-box; */
}
.form{
    margin-top: 10%;
   
}
.card .auth-card .input-field{
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 600px;
    
}

.auth-card .input-field,form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgba(255,255,255,0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color: #f4f4f4;

}

.resdiv{
    padding: 3rem 4rem;
}
.response{
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem ;
    padding-bottom: 1rem;
}
.register{
    justify-content: center;
    margin: 1rem;
    align-items: center;
    padding: 1rem;

}
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  .hero3{
    
   
        width:40%;
        margin-left: 30%;
        padding: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;
        min-height: 500px;
        background-size: cover;
        /* background: rgb(2,0,36); */
    /* 
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    position: relative; */

  }