.pricing{
    width: 100%;
    padding: 6rem 1rem;
}
.intro{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns:  1fr;
    grid-gap:40px;
}
.intro h1{
    text-align: center;
    margin-bottom: 0;
    color: white;
    bottom: 0%;
}
.intro h2{
    text-align: center;
    color: #eee;
}
.card-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:40px;
}
.card{
    border: 1px solid #eee;
    color: #eee;
    text-align: center;
    padding: 1rem;
    background-color: #191854;
}

.card:hover{
    background-color: #141414;
}

.card h3{
    font-size: 1.4rem;
    padding: 10px 0;
}

.bar p{
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

.bar{
    border-bottom: 1px solid #eee;
    /* width: 60%; */
    margin: 1.5rem auto;
    display: block;
}
.bar img{
    margin: -1rem ;
    border: 1px solid #333;
    border-radius:100%;
    text-align: center;
    align-items: center;
    max-width: 30%;
    height: 30%;

}

.btc{
    font-size: 3rem;
    font-weight: 600;
    padding: 1rem 0;
}

.card .btn{
    display: block;
    width: 80%;
    margin: 2rem auto;
}
  

@media screen and (max-width:740px) {
    .card-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns:  1fr;
        
    }
    
}